Repository toppingskorea/toppings-client, changes with the labels that .github/labeler.yml gives for each.
All labels: app-client, app-admin, app-corp, next-config, ts-config, configuration, documentation, dependencies

.github/labeler.yml:

app-client:
  - apps/client/*
  - apps/client/**/*
app-admin:
  - apps/admin/*
  - apps/admin/**/*
app-corp:
  - apps/corp/*
  - apps/corp/**/*
next-config:
  - packages/next-config/*
  - packages/next-config/**/*
ts-config:
  - packages/ts-config/*
  - packages/ts-config/**/*
configuration:
  - next.config.js
  - package*.json
  - "**/.*"
  - "**/jest*.ts"
  - "**/jest*.js"
  - "**/tsconfig*.json"
  - .*/**
documentation:
  - "**/*.md"
dependencies:
  - "**/yarn.lock"

feat(root): type-check:명령어 추가
  apps/admin/package.json
  apps/client/package.json
  apps/client/tsconfig.tsbuildinfo
  apps/corp/package.json
Labels: app-client, app-admin, app-corp

fix(admin): route에 reviews를 추가하기
  apps/admin/@types/route.d.ts
Labels: app-admin

fix(client): pages를 맵으로 돌리면 page로 받도록 처리
  apps/client/components/Notice/NotificationList/index.tsx
  apps/client/components/Post/detail/Reviews/index.tsx
  apps/client/components/Profile/posts/HorizontalPostList/index.tsx
  apps/client/components/Profile/posts/PostList/index.tsx
Labels: app-client

fix(client): JSX.Element 또는 EmotionJSX.Element로 타입을 변경하면 안되나요? ReactNode는 범위가 너무 큰 것 같습니다
  apps/client/components/Layout/EmptyView/index.tsx
Labels: app-client

fix(client): svg단축문법적용
  apps/client/components/Post/detail/Info/Info.hooks.tsx
Labels: app-client

feat(client): useOriginURL제작
  apps/client/components/Post/detail/Info/Info.hooks.tsx
  apps/client/hooks/useOriginURL.ts
Labels: app-client

feat(client): 알림 아이템에서 프사가 있는 유저는 프사 보여주기
  apps/client/@types/notice.d.ts
  apps/client/components/Notice/NotificationList/NotificationItem/index.tsx
Labels: app-client

feat(client): 알림 페이지 시간계산 추가
  apps/client/components/Notice/NotificationList/NotificationItem/index.tsx
  apps/client/utils/common/calculatePassedTime.ts
  apps/client/utils/common/index.ts
Labels: app-client

fix(client): || => ??
  apps/client/components/Profile/edit/UserInfo/ProfileImage/index.tsx
  apps/client/components/Profile/posts/UserBadge/index.tsx
  apps/client/components/Profile/profile/Info/index.tsx
Labels: app-client

feat(client): 알림 페이지 퍼블리싱 및 알림을 쏘는 기능을 구현합니다. & 프로필의 엠티뷰를 각각 구현합니다 (#60)
  apps/admin/@types/route.d.ts
  apps/admin/package.json
  apps/client/@types/index.d.ts
  apps/client/@types/notice.d.ts
  apps/client/assets/images/common/grayAvatar.png
  apps/client/assets/images/common/index.ts
  apps/client/assets/images/common/whiteAvatar.png
  apps/client/assets/images/profile/index.ts
  apps/client/assets/svgs/notice/index.ts
  apps/client/assets/svgs/notice/rejectPalm.svg
  apps/client/components/Layout/EmptyView/index.tsx
  apps/client/components/Layout/TopNavigator/index.tsx
  apps/client/components/Layout/index.ts
  apps/client/components/Notice/NotificationList/NotificationItem/index.tsx
  apps/client/components/Notice/NotificationList/index.tsx
  apps/client/components/Post/detail/Info/Info.hooks.tsx
  apps/client/components/Post/detail/Info/index.tsx
  apps/client/components/Post/detail/Reviews/index.tsx
  apps/client/components/Profile/edit/UserInfo/ProfileImage/index.tsx
  apps/client/components/Profile/posts/HorizontalPostList/index.tsx
  apps/client/components/Profile/posts/PostList/index.tsx
  apps/client/components/Profile/posts/UserBadge/index.tsx
  apps/client/components/Profile/profile/Info/index.tsx
  apps/client/hooks/useOriginURL.ts
  apps/client/package.json
  apps/client/pages/review/add/[restaurantId].page.tsx
  apps/client/server/notice/apis.ts
  apps/client/server/notice/index.ts
  apps/client/server/notice/mutations.tsx
  apps/client/server/restaurant/apis.ts
  apps/client/server/review/apis.ts
  apps/client/tsconfig.tsbuildinfo
  apps/client/utils/common/calculatePassedTime.ts
  apps/client/utils/common/index.ts
  apps/client/utils/common/omit.ts
  apps/corp/package.json
Labels: app-client, app-admin, app-corp

feat(client): profile에서 edit이 안된경우에도 space를빼고보내기
  apps/admin/.turbo/turbo-build.log
  apps/client/.turbo/turbo-build.log
  apps/client/components/Profile/edit/RegisterButton/index.tsx
  apps/client/utils/common/replaceSpace.ts
  node_modules/.cache/turbo/7b87468529a14753-meta.json
  node_modules/.cache/turbo/7b87468529a14753.tar.zst
  node_modules/.cache/turbo/7e0da57506d93443-meta.json
  node_modules/.cache/turbo/8c1c30918ea2b3df-meta.json
Labels: app-client, app-admin

fix(client): 시간 계산 로직에서 safari 및 ios 대응
  apps/client/utils/common/calculatePassedTime.ts
Labels: app-client

feat(client): seo 작업 완료
  apps/client/components/Post/detail/Info/index.tsx
  apps/client/components/Profile/profile/Info/index.tsx
  apps/client/components/Review/detail/ImageCarouselWrapper/index.tsx
  apps/client/components/Util/OpenGraph/index.tsx
  apps/client/components/Util/index.ts
  apps/client/pages/404.page.tsx
  apps/client/pages/_document.page.tsx
  apps/client/pages/index.page.tsx
  apps/client/pages/map/index.page.tsx
  apps/client/pages/notice/index.page.tsx
  apps/client/pages/post/[id].page.tsx
  apps/client/pages/post/add/index.page.tsx
  apps/client/pages/profile/edit/eatingHabits/index.page.tsx
  apps/client/pages/profile/edit/index.page.tsx
  apps/client/pages/profile/edit/nationality/index.page.tsx
  apps/client/pages/profile/menu/index.page.tsx
  apps/client/pages/profile/posts/index.page.tsx
  apps/client/pages/profile/reviews/index.page.tsx
  apps/client/pages/profile/saved/index.page.tsx
  apps/client/pages/recent/eatingHabit.page.tsx
  apps/client/pages/recent/nationality.page.tsx
  apps/client/pages/recent/restaurant.page.tsx
  apps/client/pages/register/eatingHabits/index.page.tsx
  apps/client/pages/register/nationality/index.page.tsx
  apps/client/pages/review/add/[restaurantId].page.tsx
  apps/client/pages/search/[type].page.tsx
Labels: app-client
