Repository toppingskorea/toppings-client, changes with the labels that .github/labeler.yml gives for each.
All labels: app-client, app-admin, app-corp, next-config, ts-config, toppings-utils, toppings-components, toppings-hooks, configuration, storybook, documentation, dependencies, workflows

.github/labeler.yml:

app-client:
  - apps/client/*
  - apps/client/**/*
app-admin:
  - apps/admin/*
  - apps/admin/**/*
app-corp:
  - apps/corp/*
  - apps/corp/**/*
next-config:
  - packages/next-config/*
  - packages/next-config/**/*
ts-config:
  - packages/ts-config/*
  - packages/ts-config/**/*
toppings-utils:
  - packages/utils/*
  - packages/utils/**/*
toppings-components:
  - packages/components/*
  - packages/components/**/*
toppings-hooks:
  - packages/hooks/*
  - packages/hooks/**/*
configuration:
  - next.config.js
  - package*.json
  - "**/.*"
  - "**/jest*.ts"
  - "**/jest*.js"
  - "**/tsconfig*.json"
  - .*/**
storybook:
  - "**/*.stories.tsx"
documentation:
  - "**/*.md"
dependencies:
  - "**/yarn.lock"
workflows:
  - .github/*
  - .github/**/*

refactor(admin): 리뷰 상세 훅을 분리합니다 (#174)
  apps/admin/components/Review/ReviewDetail/index.tsx
Labels: app-admin

feat(packages) : transpilePackages를 추가합니다.
  apps/admin/.turbo/turbo-build.log
  apps/client/.turbo/turbo-build.log
  packages/next-config/next.config.js
Labels: app-client, app-admin, next-config

refacotr(packages) : useInput에서 사용되는 useDebounceHook을 최적화 하였습니다.
  .pnp.cjs
  .yarn/cache/@eslint-eslintrc-npm-2.0.0-0c9322b41f-31119c8ca0.zip
  .yarn/cache/@eslint-js-npm-8.35.0-f41d80f951-6687ceff65.zip
  .yarn/cache/@types-lodash.debounce-npm-4.0.7-efe92bf273-e873b2d77f.zip
  .yarn/cache/eslint-npm-8.33.0-88a30ca58a-727e63ab8b.zip
  .yarn/cache/eslint-npm-8.35.0-23207d2624-6212173691.zip
  .yarn/cache/esquery-npm-1.4.2-7f7c29c5bf-2f4ad89c5a.zip
  apps/admin/.turbo/turbo-build.log
  apps/admin/package.json
  apps/client/.turbo/turbo-build.log
  apps/client/package.json
  packages/hooks/package.json
  packages/hooks/src/useDebounce.ts
  packages/hooks/src/useInput.ts
  yarn.lock
Labels: app-client, app-admin, toppings-hooks, configuration, dependencies

feat(packages) : transpilePackages를 추가합니다. (#175)
  apps/admin/.turbo/turbo-build.log
  apps/client/.turbo/turbo-build.log
  packages/next-config/next.config.js
Labels: app-client, app-admin, next-config

refacotr(packages) : useInput에서 사용되는 useDebounceHook을 최적화 하였습니다. (#176)
  .pnp.cjs
  .yarn/cache/@eslint-eslintrc-npm-2.0.0-0c9322b41f-31119c8ca0.zip
  .yarn/cache/@eslint-js-npm-8.35.0-f41d80f951-6687ceff65.zip
  .yarn/cache/@types-lodash.debounce-npm-4.0.7-efe92bf273-e873b2d77f.zip
  .yarn/cache/eslint-npm-8.33.0-88a30ca58a-727e63ab8b.zip
  .yarn/cache/eslint-npm-8.35.0-23207d2624-6212173691.zip
  .yarn/cache/esquery-npm-1.4.2-7f7c29c5bf-2f4ad89c5a.zip
  apps/admin/package.json
  apps/client/.turbo/turbo-build.log
  apps/client/package.json
  packages/hooks/package.json
  packages/hooks/src/useDebounce.ts
  packages/hooks/src/useInput.ts
  yarn.lock
Labels: app-client, app-admin, toppings-hooks, configuration, dependencies
