Repository toppingskorea/toppings-client, pull requests merged in 2022-11, with the labels that each got.

#4 feat: set recoil folder structure
  src/components/Common/ScrollContainer/index.tsx
  src/pages/text.page.tsx
  src/recoil/atoms/common.ts
  src/recoil/atoms/event.ts
  src/recoil/atoms/index.ts
  src/recoil/atoms/map.ts
  src/recoil/selectors/common.ts
  src/recoil/selectors/index.ts
Labels: feat

#10 fix: #8 export default 구문 받아오는 쪽에서 이름 설정할 수 있도록
  src/components/Skeleton/index.ts
Labels: refactoring

#12 refactor: remove unused file
  src/constants/Media.ts
  src/constants/Variables.ts
  src/constants/index.ts
Labels: refactoring

#15 feat: websocket setting
  .pnp.cjs
  .yarn/cache/@stomp-stompjs-npm-6.1.2-f8d2563fda-f6ef589c0a.zip
  .yarn/cache/@types-sockjs-client-npm-1.5.1-c20bc4c18e-4daa30aa5a.zip
  .yarn/cache/eventsource-npm-2.0.2-e94c48aca3-c0072d9727.zip
  .yarn/cache/faye-websocket-npm-0.11.4-1f0de76de9-d49a62caf0.zip
  .yarn/cache/http-parser-js-npm-0.5.8-f80208ea99-6bbdf24298.zip
  .yarn/cache/sockjs-client-npm-1.6.1-e9cbd57be6-c7623bbc98.zip
  .yarn/cache/websocket-driver-npm-0.7.4-a72739da70-fffe5a33fe.zip
  .yarn/cache/websocket-extensions-npm-0.1.4-be839a9e56-5976835e68.zip
  package.json
  src/hooks/index.ts
  src/hooks/useWebSocket.ts
  src/pages/text.page.tsx
  yarn.lock
Labels: feat

#11 feat: middleware auth check
  .pnp.cjs
  .yarn/cache/@types-jwt-decode-npm-3.1.0-7f93d5cb7a-82ff0b3826.zip
  .yarn/cache/jose-npm-4.11.0-a7e91b2a34-8d81e978e0.zip
  .yarn/cache/jwt-decode-npm-3.1.2-bf3ab26591-20a4b072d4.zip
  jest.config.js
  jest.setup.js
  middleware.ts
  next.config.js
  package.json
  src/layouts/AppLayout/index.tsx
  src/middleware.page.ts
  src/pages/index.page.tsx
  src/pages/login/redirect/index.page.tsx
  src/pages/map.page.tsx
  src/pages/profile.page.tsx
  src/utils/auth/deleteMiddlewareCookie.ts
  src/utils/auth/getCookieToken.ts
  src/utils/auth/index.ts
  src/utils/auth/verifyToken.ts
  yarn.lock
Labels: feat

#19 feat: type safe route
  src/@types/index.d.ts
  src/components/Common/InternalLink/InternalLink.tsx
  src/components/Common/InternalLink/InternalLink.types.ts
  src/components/Common/InternalLink/index.ts
  src/components/Common/index.ts
  src/hooks/index.ts
  src/hooks/useInternalRouter.ts
  src/pages/login/redirect/index.page.tsx
Labels: chore, feat

#17 feat: 식당 검색
  .pnp.cjs
  .yarn/cache/@types-lodash-npm-4.14.188-a8d4045e40-89c32f0a18.zip
  package.json
  src/@types/index.d.ts
  src/hooks/index.ts
  src/hooks/useDebounce.ts
  src/hooks/useInput.ts
  src/hooks/usePreservedCallback.ts
  src/hooks/usePreservedReference.ts
  src/pages/_document.page.tsx
  src/pages/search/[type].page.tsx
  src/utils/common/checkDeeplyEqual.ts
  src/utils/common/index.ts
  src/utils/common/neverChecker.ts
  yarn.lock
Labels: feat

#23 fix: Add SVG Types
  src/@types/images.d.ts
  tsconfig.json
Labels: refactoring

#28 feat: Profile 로직 구현
  src/@types/index.d.ts
  src/apis/profile/index.ts
  src/components/Common/Modal/SuccessModal/index.tsx
  src/components/Common/Modal/index.ts
  src/components/Common/PageLoader/index.tsx
  src/components/Common/index.ts
  src/components/Layout/TopNavigator/index.tsx
  src/components/Map/Button/index.tsx
  src/components/Map/index.tsx
  src/components/Profile/edit/UserInfo/ClickableInput/index.tsx
  src/components/Profile/edit/UserInfo/LabelWithLeftSpacingChild/index.tsx
  src/components/Profile/edit/UserInfo/ProfileImage/index.tsx
  src/components/Profile/edit/UserInfo/index.tsx
  src/components/Profile/edit/index.ts
  src/contexts/MapProvider/index.tsx
  src/hooks/useSetNavigation.ts
  src/layouts/AppLayout/index.tsx
  src/middleware.page.ts
  src/mutations/profile/index.ts
  src/mutations/profile/useLogout.tsx
  src/mutations/profile/useUpdateUserInfo.ts
  src/pages/index.page.tsx
  src/pages/onboarding.page.tsx
  src/pages/profile.page.tsx
  src/pages/profile/edit/eatingHabits/index.page.tsx
  src/pages/profile/edit/index.page.tsx
  src/pages/profile/edit/nationality/index.page.tsx
  src/pages/profile/index.page.tsx
  src/pages/profile/menu/index.page.tsx
  src/pages/profile/posts/index.page.tsx
  src/pages/profile/reviews/index.page.tsx
  src/pages/profile/saved/index.page.tsx
  src/pages/register/eatingHabits/index.page.tsx
  src/pages/register/nationality/index.page.tsx
  src/queries/profile/useFetchUserInfo.ts
  src/recoil/atoms/edit.ts
  src/recoil/atoms/index.ts
  src/utils/common/encodeFileToBase64.ts
  src/utils/common/imageUploader.ts
  src/utils/common/index.ts
  tsconfig.json
Labels: feat
