Repository toppingskorea/toppings-client, pull requests merged in 2023-01, with the labels that each got.

#43 History event nationality
  apps/client/components/Common/RestaurantCard/index.tsx
  apps/client/components/Map/Button/FilteringButton.tsx
  apps/client/components/Recent/History/History.hooks.ts
  apps/client/components/Recent/History/index.tsx
  apps/client/contexts/MapProvider/index.tsx
  apps/client/pages/map/index.page.tsx
  apps/client/pages/map/viewList.page.tsx
  apps/client/pages/recent/eatingHabit.page.tsx
  apps/client/pages/recent/nationality.page.tsx
  apps/client/pages/recent/restaurant.hooks.ts
  apps/client/pages/recent/restaurant.page.tsx
  apps/client/recoil/atoms/recent.ts
  apps/client/server/recent/apis.ts
  apps/client/server/recent/queries.ts
Labels: fix, feat, refactoring

#44 feat(client): eatingHabits을 선택하지 않을 수 있도록함 (회원가입시 & 프로필 수정시)
  apps/client/@types/profile.d.ts
  apps/client/components/Profile/edit/UserInfo/index.tsx
  apps/client/pages/profile/edit/eatingHabits/index.page.tsx
  apps/client/pages/profile/edit/index.page.tsx
  apps/client/pages/profile/index.page.tsx
  apps/client/pages/register/eatingHabits/index.page.tsx
  apps/client/recoil/atoms/edit.ts
  apps/client/recoil/atoms/register.ts
Labels: fix, feat

#49 fix(client): useSetNavigation default value로 돌려두는 작업을 useSetNavigation 훅 자체에게 위임
  apps/client/hooks/useSetNavigation.ts
  apps/client/pages/index.page.tsx
  apps/client/pages/post/post.hooks.tsx
Labels: feat

#51 feat(client): 한글인 경우 Pretendard 폰트를 적용합니다.
  apps/client/assets/fonts/Pretendard-Black.woff
  apps/client/assets/fonts/Pretendard-Black.woff2
  apps/client/assets/fonts/Pretendard-Bold.woff
  apps/client/assets/fonts/Pretendard-Bold.woff2
  apps/client/assets/fonts/Pretendard-ExtraBold.woff
  apps/client/assets/fonts/Pretendard-ExtraBold.woff2
  apps/client/assets/fonts/Pretendard-Light.woff
  apps/client/assets/fonts/Pretendard-Light.woff2
  apps/client/assets/fonts/Pretendard-Medium.woff
  apps/client/assets/fonts/Pretendard-Medium.woff2
  apps/client/assets/fonts/Pretendard-Regular.woff
  apps/client/assets/fonts/Pretendard-Regular.woff2
  apps/client/assets/fonts/Pretendard-SemiBold.woff
  apps/client/assets/fonts/Pretendard-SemiBold.woff2
  apps/client/styles/GlobalCSS.tsx
  apps/client/styles/font-face.css
Labels: feat

#54 feat(client): 디자인 각종 수정 & 에러페이지 구현 완료
  apps/client/assets/images/common/grayLogo.png
  apps/client/assets/images/common/index.ts
  apps/client/components/Common/Modal/AlertModal/index.tsx
  apps/client/components/Common/RoundedTag/PrimaryTag.tsx
  apps/client/components/Common/TextField/SearchInput.tsx
  apps/client/components/Common/Typo/OrangeTypo.tsx
  apps/client/components/Post/add/CTAButton/CTAButton.hooks.tsx
  apps/client/components/Post/add/CTAButton/Edit/index.tsx
  apps/client/components/Post/add/CTAButton/Register/index.tsx
  apps/client/components/Post/add/CTAButton/index.ts
  apps/client/components/Post/add/index.ts
  apps/client/components/Post/detail/ReviewLeadingSection/index.tsx
  apps/client/components/Profile/edit/UserInfo/index.tsx
  apps/client/components/Profile/profile/Info/index.tsx
  apps/client/components/Section/SearchNationality/index.tsx
  apps/client/components/Section/SelectEatingHabit/index.tsx
  apps/client/pages/404.page.tsx
  apps/client/pages/notice/index.page.tsx
  apps/client/pages/post/[id].page.tsx
  apps/client/pages/post/add/index.page.tsx
  apps/client/pages/profile/edit/eatingHabits/index.page.tsx
  apps/client/pages/profile/edit/index.page.tsx
  apps/client/pages/register/eatingHabits/index.page.tsx
  apps/client/pages/review/add/[restaurantId].page.tsx
  apps/client/pages/search/[type].page.tsx
  apps/client/server/post/apis.ts
  apps/client/styles/emotionTheme/colors/index.ts
Labels: bug, fix, feat

#56 fix(client): 맵과 관련된 로직을 모두 마이그레이션 한 뒤 작동하게 합니다.
  apps/client/@types/map.d.ts
  apps/client/@types/recent.d.ts
  apps/client/assets/json/index.ts
  apps/client/assets/json/pin.json
  apps/client/assets/json/rocket.json
  apps/client/components/Common/Badge/index.tsx
  apps/client/components/Common/RestaurantCard/index.tsx
  apps/client/components/Kakao/Buttons/Buttons.hooks.ts
  apps/client/components/Kakao/Buttons/CurrentLocationButton.tsx
  apps/client/components/Kakao/Buttons/FilteringButton.tsx
  apps/client/components/Kakao/Buttons/ViewStatusButton.tsx
  apps/client/components/Kakao/Buttons/index.ts
  apps/client/components/Kakao/Container.tsx
  apps/client/components/Kakao/Kakao.hooks.ts
  apps/client/components/Kakao/KakaoMap.tsx
  apps/client/components/Kakao/MapMarker/index.tsx
  apps/client/components/Kakao/index.ts
  apps/client/components/Map/Map.hooks.ts
  apps/client/components/Map/index.tsx
  apps/client/components/Recent/History/History.hooks.ts
  apps/client/components/Recent/History/index.tsx
  apps/client/contexts/MapProvider/MapProvider.hooks.ts
  apps/client/contexts/MapProvider/index.tsx
  apps/client/contexts/index.ts
  apps/client/hooks/index.ts
  apps/client/hooks/map/index.ts
  apps/client/hooks/map/useResetRecentRecoilState.ts
  apps/client/hooks/useCurrentLocation.ts
  apps/client/pages/map/index.page.tsx
  apps/client/pages/map/map.hooks.ts
  apps/client/pages/map/viewList.hooks.tsx
  apps/client/pages/map/viewList.page.tsx
  apps/client/pages/recent/eatingHabit.page.tsx
  apps/client/pages/recent/index.page.tsx
  apps/client/pages/recent/nationality.page.tsx
  apps/client/pages/recent/restaurant.hooks.ts
  apps/client/recoil/atoms/common.ts
  apps/client/recoil/atoms/map.ts
  apps/client/recoil/atoms/recent.ts
  apps/client/server/recent/apis.ts
Labels: bug, duplicate, fix, feat, refactoring

#60 feat(client): 알림 페이지 퍼블리싱 및 알림을 쏘는 기능을 구현합니다. & 프로필의 엠티뷰를 각각 구현합니다
  apps/admin/@types/route.d.ts
  apps/admin/package.json
  apps/client/@types/index.d.ts
  apps/client/@types/notice.d.ts
  apps/client/assets/images/common/grayAvatar.png
  apps/client/assets/images/common/index.ts
  apps/client/assets/images/common/whiteAvatar.png
  apps/client/assets/images/profile/index.ts
  apps/client/assets/svgs/notice/index.ts
  apps/client/assets/svgs/notice/rejectPalm.svg
  apps/client/components/Layout/EmptyView/index.tsx
  apps/client/components/Layout/TopNavigator/index.tsx
  apps/client/components/Layout/index.ts
  apps/client/components/Notice/NotificationList/NotificationItem/index.tsx
  apps/client/components/Notice/NotificationList/index.tsx
  apps/client/components/Post/detail/Info/Info.hooks.tsx
  apps/client/components/Post/detail/Info/index.tsx
  apps/client/components/Post/detail/Reviews/index.tsx
  apps/client/components/Profile/edit/UserInfo/ProfileImage/index.tsx
  apps/client/components/Profile/posts/HorizontalPostList/index.tsx
  apps/client/components/Profile/posts/PostList/index.tsx
  apps/client/components/Profile/posts/UserBadge/index.tsx
  apps/client/components/Profile/profile/Info/index.tsx
  apps/client/hooks/useOriginURL.ts
  apps/client/package.json
  apps/client/pages/review/add/[restaurantId].page.tsx
  apps/client/server/notice/apis.ts
  apps/client/server/notice/index.ts
  apps/client/server/notice/mutations.tsx
  apps/client/server/restaurant/apis.ts
  apps/client/server/review/apis.ts
  apps/client/tsconfig.tsbuildinfo
  apps/client/utils/common/calculatePassedTime.ts
  apps/client/utils/common/index.ts
  apps/client/utils/common/omit.ts
  apps/corp/package.json
Labels: fix, feat, app-client, app-admin, app-corp

#62 feat(client): 페이지별 OpenGraph 기능을 작업하여, SEO및 사용자의 편의성을 증가시킵니다.
  .github/auto_assign.yml
  .github/labeler.yml
  apps/client/components/Post/detail/Info/index.tsx
  apps/client/components/Profile/profile/Info/index.tsx
  apps/client/components/Review/detail/ImageCarouselWrapper/index.tsx
  apps/client/components/Util/OpenGraph/index.tsx
  apps/client/components/Util/index.ts
  apps/client/pages/404.page.tsx
  apps/client/pages/_document.page.tsx
  apps/client/pages/index.page.tsx
  apps/client/pages/map/index.page.tsx
  apps/client/pages/notice/index.page.tsx
  apps/client/pages/post/[id].page.tsx
  apps/client/pages/post/add/index.page.tsx
  apps/client/pages/profile/edit/eatingHabits/index.page.tsx
  apps/client/pages/profile/edit/index.page.tsx
  apps/client/pages/profile/edit/nationality/index.page.tsx
  apps/client/pages/profile/menu/index.page.tsx
  apps/client/pages/profile/posts/index.page.tsx
  apps/client/pages/profile/reviews/index.page.tsx
  apps/client/pages/profile/saved/index.page.tsx
  apps/client/pages/recent/eatingHabit.page.tsx
  apps/client/pages/recent/nationality.page.tsx
  apps/client/pages/recent/restaurant.page.tsx
  apps/client/pages/register/eatingHabits/index.page.tsx
  apps/client/pages/register/nationality/index.page.tsx
  apps/client/pages/review/add/[restaurantId].page.tsx
  apps/client/pages/search/[type].page.tsx
Labels: app-client, configuration

#63 fix(client): post의 상세 DTO에는thumbnail이 없으므로 images[0]으로 처리합니다
  .github/auto_assign.yml
  apps/client/@types/restaurant.d.ts
  apps/client/components/Post/detail/Info/index.tsx
  apps/client/pages/post/[id].page.tsx
Labels: app-client, configuration, workflows

#64 feat(admin): admin에서 리젝 사유가 없을 시, 음식점과 리뷰를 리젝시키지 못하게 합니다.
  apps/admin/components/Posts/PostDetail/PostDetail.hooks.ts
  apps/admin/components/Posts/PostDetail/index.tsx
  apps/admin/components/Reviews/ReviewDetail/ReviewDetail.hooks.ts
  apps/admin/components/Reviews/ReviewDetail/index.tsx
Labels: app-admin

#68 feat(admin): 음식점과 리뷰가 리젝된것이라면 리젝된 이유를 default로 설정해줍니다
  apps/admin/@types/restaurant.d.ts
  apps/admin/@types/review.d.ts
  apps/admin/components/Posts/PostDetail/PostDetail.hooks.ts
  apps/admin/components/Reviews/ReviewDetail/ReviewDetail.hooks.ts
Labels: app-admin

#69 feat(client): 약관과 개인정보 처리 방침 링크를 연결합니다
  apps/client/@types/route.d.ts
  apps/client/pages/about/index.page.tsx
  apps/client/pages/profile/menu/index.page.tsx
Labels: app-client

#70 feat(client): TopNavigator의 backbutton을 보여주지 않을 수 있도록 설정한뒤 회원가입 및 Map관련 페이지에 적용합니다.
  apps/client/components/Layout/TopNavigator/index.tsx
  apps/client/pages/recent/eatingHabit.page.tsx
  apps/client/pages/recent/index.page.tsx
  apps/client/pages/recent/nationality.page.tsx
  apps/client/pages/recent/restaurant.hooks.tsx
  apps/client/pages/register/eatingHabits/index.page.tsx
  apps/client/pages/register/nationality/index.page.tsx
  apps/client/recoil/atoms/navigation.ts
  apps/client/server/register/apis.ts
Labels: app-client

#75 fix(client): about 페이지 seo 적용 및 OpenGraph컴포넌트에 기본 이미지를 세팅합니다.
  apps/client/assets/images/common/index.ts
  apps/client/assets/images/common/orangeLogo.png
  apps/client/components/Util/OpenGraph/index.tsx
  apps/client/pages/about/index.page.tsx
Labels: app-client

#71 fix(client): Map 과 관련된 로직들의 퍼블리싱 QA를 진행합니다.
  apps/client/components/Layout/TopNavigator/index.tsx
  apps/client/components/Recent/History/History.hooks.ts
  apps/client/components/Recent/History/index.tsx
  apps/client/components/Recent/TagFamily/index.tsx
  apps/client/pages/recent/eatingHabit.page.tsx
  apps/client/pages/recent/index.page.tsx
  apps/client/pages/recent/nationality.page.tsx
  apps/client/pages/recent/restaurant.page.tsx
Labels: app-client

#80 fix(client): Meta => ComponentMeta 로 타입을 최신버전으로 업그레이드합니다.
  apps/client/components/Common/Modal/AlertModal/AlertModal.stories.tsx
  apps/client/components/Skeleton/Box/Box.stories.tsx
  apps/client/components/Skeleton/Circle/Circle.stories.tsx
  apps/client/components/Skeleton/Paragraph/Paragraph.stories.tsx
Labels: app-client

#81 fix(client): 불필요한 NavigationSetter를 제거합니다.
  apps/client/components/Review/add/NavigationSetter/index.tsx
  apps/client/components/Review/add/index.ts
Labels: app-client

#83 refactor(client) : AlertModal에 대한 리팩토링을 적용합니다.
  apps/admin/.turbo/turbo-build.log
  apps/client/.turbo/turbo-build.log
  apps/client/components/Common/Modal/AlertModal/AlertModal.stories.tsx
  apps/client/components/Common/Modal/AlertModal/index.tsx
  apps/client/components/Layout/TopNavigator/index.tsx
  apps/client/components/Post/PostDetailPage/Reviews/ReviewItem/index.tsx
  apps/client/components/Recent/RecentPage/index.tsx
Labels: app-client

#84 fix(client): 도메인 변경으로 인해 sentry allow url을 수정합니다
  apps/client/pages/_app.page.tsx
Labels: app-client

#82 refactor(client): 리뷰 추가 및 수정 페이지 hooks 파일로 분리하여 가독성을 향상시킵니다.
  apps/client/components/Review/ReviewAddPage/ReviewAddPage.hooks.tsx
  apps/client/components/Review/ReviewAddPage/index.tsx
Labels: app-client

#85 refactor(client): recent 하위 페이지들의 새로운 폴더 경로를 구축합니다.
  apps/client/components/Recent/FilterEatingHabitPage/index.tsx
  apps/client/components/Recent/FilterNationalityPage/index.tsx
  apps/client/components/Recent/FilterRestaurantPage/FilterRestaurantPage.hooks.tsx
  apps/client/components/Recent/FilterRestaurantPage/index.tsx
  apps/client/components/Recent/TagFamily/index.tsx
  apps/client/components/Recent/index.ts
  apps/client/pages/recent/eatingHabit.page.tsx
  apps/client/pages/recent/filter/eatingHabit.page.tsx
  apps/client/pages/recent/filter/nationality.page.tsx
  apps/client/pages/recent/filter/restaurant.page.tsx
  apps/client/pages/recent/nationality.page.tsx
  apps/client/pages/recent/restaurant.page.tsx
Labels: app-client

#90 feat(client) : Map QA part - 2
  apps/client/components/Common/HeartWithNumber/index.tsx
  apps/client/components/Common/RestaurantCard/index.tsx
  apps/client/components/Recent/FilterRestaurantPage/index.tsx
  apps/client/components/Recent/RecentPage/index.tsx
  apps/client/components/Recent/TagFamily/index.tsx
Labels: feat, refactoring, app-client

#91 fix(client): OrangeSection의 로고와 텍스트를 수정합니다.
  apps/client/assets/images/common/logo.png
  apps/client/assets/images/common/logo2.png
  apps/client/components/Onboarding/OnboardingPage/index.tsx
  apps/client/components/Section/OrangeSection/index.tsx
Labels: refactoring, app-client

#92 feat(client): profile/menu & about 페이지를 퍼블리싱 및 기능연동을 진행합니다.
  apps/client/components/About/AboutPage/AboutPage.constants.ts
  apps/client/components/About/AboutPage/AboutPage.stories.tsx
  apps/client/components/About/AboutPage/index.tsx
  apps/client/components/Profile/ProfileMenuPage/ProfileMenuPage.hooks.tsx
  apps/client/components/Profile/ProfileMenuPage/ProfileMenuPage.stories.tsx
  apps/client/components/Profile/ProfileMenuPage/index.tsx
  packages/next-config/package.json
Labels: app-client, next-config, storybook

#94 feat(client): 맵에 찍히는 핀 밑에 식당 이름을 표기합니다.
  apps/client/components/Map/MapPage/index.tsx
Labels: feat, app-client

#95 feat(client): 무거운 백엔드 API와 통신할 경우 UX향상을 위해 로딩 인디게이터를 보여줍니다.
  apps/client/components/Common/LoadingIndicator/Seek/Seek.stories.tsx
  apps/client/components/Common/LoadingIndicator/Seek/index.tsx
  apps/client/components/Common/LoadingIndicator/index.tsx
  apps/client/components/Common/index.ts
  apps/client/components/Post/PostAddPage/CTAButton/Edit/index.tsx
  apps/client/components/Post/PostAddPage/CTAButton/Register/index.tsx
  apps/client/components/Profile/ProfileEditPage/RegisterButton/index.tsx
  apps/client/components/Review/ReviewAddPage/ReviewAddPage.hooks.tsx
  apps/client/components/Review/ReviewAddPage/index.tsx
Labels: app-client, storybook

#96 feat(client): 파비콘 설정 완료합니다.
  apps/client/pages/_document.page.tsx
  apps/client/public/android-icon-144x144.png
  apps/client/public/android-icon-192x192.png
  apps/client/public/android-icon-36x36.png
  apps/client/public/android-icon-48x48.png
  apps/client/public/android-icon-72x72.png
  apps/client/public/android-icon-96x96.png
  apps/client/public/apple-icon-114x114.png
  apps/client/public/apple-icon-120x120.png
  apps/client/public/apple-icon-144x144.png
  apps/client/public/apple-icon-152x152.png
  apps/client/public/apple-icon-180x180.png
  apps/client/public/apple-icon-57x57.png
  apps/client/public/apple-icon-60x60.png
  apps/client/public/apple-icon-72x72.png
  apps/client/public/apple-icon-76x76.png
  apps/client/public/apple-icon-precomposed.png
  apps/client/public/apple-icon.png
  apps/client/public/browserconfig.xml
  apps/client/public/favicon-16x16.png
  apps/client/public/favicon-32x32.png
  apps/client/public/favicon-96x96.png
  apps/client/public/favicon.ico
  apps/client/public/manifest.json
  apps/client/public/ms-icon-144x144.png
  apps/client/public/ms-icon-150x150.png
  apps/client/public/ms-icon-310x310.png
  apps/client/public/ms-icon-70x70.png
  apps/client/public/vercel.svg
Labels: app-client
