Repository toppingskorea/toppings-client, pull requests merged in 2023-03, with the labels that each got.

#169 fix(client): 에러 페이지 워딩을 수정합니다
  apps/client/components/Error/ErrorPage/index.tsx
Labels: app-client

#171 refactor(client): topnavigator hooks 리팩토링을 진행합니다
  .eslintrc.json
  apps/client/components/Layout/TopNavigator/TopNavigator.hooks.tsx
  apps/client/components/Layout/TopNavigator/index.tsx
Labels: app-client, configuration

#172 refactor(admin): login페이지의 hook의 관심사를 분리합니다.
  apps/admin/components/Login/LoginPage/index.tsx
  apps/admin/components/Login/LoginPage/login.hooks.ts
Labels: app-admin

#173 feat(components): admin,client 공통적으로 사용되는 컴포넌트를 위한 `@toppings/components` 패키지를 만듭니다
  .github/labeler.yml
  .pnp.cjs
  apps/admin/components/Overview/OverviewPage/index.tsx
  apps/admin/components/Posts/PostsPage/index.tsx
  apps/admin/components/Restaurant/RestaurantDetailPage/index.tsx
  apps/admin/components/Review/ReviewDetailPage/index.tsx
  apps/admin/components/Reviews/ReviewsPage/index.tsx
  apps/admin/components/Skeleton/Circle.tsx
  apps/admin/components/Skeleton/index.ts
  apps/admin/package.json
  apps/client/components/Notice/NoticePage/NotificationList/index.tsx
  apps/client/components/Notice/NoticePage/index.tsx
  apps/client/components/Post/PostDetailPage/Reviews/index.tsx
  apps/client/components/Profile/HorizontalPostList/index.tsx
  apps/client/components/Profile/ProfileEditPage/index.tsx
  apps/client/components/Profile/ProfilePage/index.tsx
  apps/client/components/Profile/ProfilePostsPage/PostList/index.tsx
  apps/client/components/Profile/ProfilePostsPage/index.tsx
  apps/client/components/Profile/ProfileReviewsPage/index.tsx
  apps/client/components/Profile/ProfileSavedPage/index.tsx
  apps/client/components/Recent/RecentPage/index.tsx
  apps/client/components/Review/ReviewDetailPage/index.tsx
  apps/client/components/Skeleton/Base.tsx
  apps/client/components/Skeleton/Box/Box.stories.tsx
  apps/client/components/Skeleton/Box/index.tsx
  apps/client/components/Skeleton/Circle/Circle.stories.tsx
  apps/client/components/Skeleton/Paragraph/Paragraph.stories.tsx
  apps/client/components/Skeleton/Paragraph/index.tsx
  apps/client/components/Skeleton/index.ts
  apps/client/package.json
  apps/client/tsconfig.tsbuildinfo
  packages/components/README.md
  packages/components/package.json
  packages/components/src/Skeleton/Base.tsx
  packages/components/src/Skeleton/Box.tsx
  packages/components/src/Skeleton/Circle.tsx
  packages/components/src/Skeleton/Paragraph.tsx
  packages/components/src/Skeleton/index.ts
  packages/components/src/index.ts
  packages/components/tsconfig.json
  yarn.lock
Labels: app-client, app-admin, configuration, documentation, dependencies, workflows, storybook

#174 refactor(admin): 리뷰 상세 훅을 분리합니다
  apps/admin/components/Review/ReviewDetail/index.tsx
Labels: app-admin

#175 feat(packages) : transpilePackages를 추가합니다.
  apps/admin/.turbo/turbo-build.log
  apps/client/.turbo/turbo-build.log
  packages/next-config/next.config.js
Labels: next-config

#178 feat(client): 알림페이지를 위한 웹소켓을 등록합니다.
  apps/client/components/Notice/NoticePage/NotificationList/index.tsx
  apps/client/layouts/AppLayout/index.tsx
Labels: app-client

#179 chore: 클라이언트 상태관리를 위해 zustand를 설치합니다
  .pnp.cjs
  .yarn/cache/zustand-npm-4.3.5-7e2251ccae-166099ecad.zip
  apps/admin/package.json
  apps/client/package.json
  yarn.lock
Labels: app-client, app-admin, configuration, dependencies

#180 refactor(admin): Header와 관련된 로직을 recoil에서 zustand로 마이그레이션 합니다.
  apps/admin/hooks/useSetHeader.ts
  apps/admin/layouts/AppLayout/index.tsx
  apps/admin/recoil/atoms/header.ts
  apps/admin/stores/common/header/header.store.ts
  apps/admin/stores/common/header/header.types.ts
  apps/admin/stores/common/header/index.ts
  apps/admin/stores/common/index.ts
Labels: app-admin

#167 feat(client): 마이페이지 프로필 수정 상태를 페이지를 벗어나면 초기화 시킵니다.
  apps/client/components/Layout/BottomNavigator/BottomNavigator.hooks.tsx
  apps/client/components/Layout/BottomNavigator/index.tsx
  apps/client/components/Layout/TopNavigator/TopNavigator.hooks.tsx
  apps/client/components/Profile/ProfileEditEatingHabitsPage/index.tsx
  apps/client/components/Profile/ProfileEditPage/ProfileEditPage.hooks.tsx
  apps/client/components/Profile/ProfileEditPage/index.tsx
  apps/client/recoil/atoms/edit.ts
  apps/client/recoil/atoms/navigation.ts
Labels: app-client

#181 refactor(admin): admin에서 `recoil`을 제거한 뒤 client state를 `zustand` 로 이관합니다.
  .pnp.cjs
  apps/admin/components/Common/Gallery/index.tsx
  apps/admin/components/Post/PostUploadPage/CTAButton/Register/index.tsx
  apps/admin/components/Post/PostUploadPage/PostUploadPage.hooks.ts
  apps/admin/components/Post/PostUploadPage/RestaurantSearchSection/index.tsx
  apps/admin/components/Post/PostUploadPage/index.tsx
  apps/admin/package.json
  apps/admin/pages/_app.page.tsx
  apps/admin/recoil/atoms/post.ts
  apps/admin/recoil/atoms/search.ts
  apps/admin/stores/post/index.ts
  apps/admin/stores/post/search/index.ts
  apps/admin/stores/post/search/restaurant/index.ts
  apps/admin/stores/post/search/restaurant/restaurant.store.ts
  apps/admin/stores/post/search/restaurant/restaurant.types.ts
  apps/admin/stores/post/upload/index.ts
  apps/admin/stores/post/upload/upload.store.ts
  apps/admin/stores/post/upload/upload.types.ts
  apps/admin/tsconfig.json
  yarn.lock
Labels: app-admin, configuration, dependencies

#182 fix: 리뷰 상세 페이지에서 프로필 사진의 objectfit을 수정합니다.
  apps/client/components/Review/ReviewDetailPage/UserInfoRow/index.tsx
Labels: app-client

#183 feat(client) : 지도에 내 위치를 표시합니다.
  apps/client/assets/json/index.ts
  apps/client/assets/json/myLocation.json
  apps/client/components/Kakao/Buttons/Buttons.hooks.ts
  apps/client/components/Map/MapPage/index.tsx
  apps/client/recoil/atoms/common.ts
Labels: app-client

#184 feat(client) : utils 폴더의 default export를 named export로 변경합니다.
  apps/admin/.turbo/turbo-build.log
  apps/client/.turbo/turbo-build.log
  apps/client/utils/auth/getCookieToken.ts
  apps/client/utils/auth/index.ts
  apps/client/utils/auth/isLoggedIn.ts
  apps/client/utils/auth/verifyToken.ts
  apps/client/utils/common/ellipsisTextByLength.ts
  apps/client/utils/common/generateComponent.tsx
  apps/client/utils/common/index.ts
  apps/client/utils/common/queryChunk.ts
  apps/client/utils/common/replaceSpace.ts
  apps/client/utils/country/countryToSvg.ts
  apps/client/utils/country/index.ts
  apps/client/utils/recent/habitTitleChecker.ts
  apps/client/utils/recent/index.ts
Labels: app-client

#185 fix(client): block websocket
  apps/client/components/Notice/NoticePage/NotificationList/index.tsx
  apps/client/layouts/AppLayout/index.tsx
Labels: app-client

#186 feat(client) : queryChunk에서 사용되던 deprecated method인 substr을 substring으로 변경
  apps/client/utils/common/queryChunk.ts
Labels: app-client

#187 feat(client) : styles의 default export를 named export로 변경합니다.
  apps/client/@types/emotion.d.ts
  apps/client/components/Common/Gallery/index.tsx
  apps/client/components/Common/RoundedTag/RoundedTag.tsx
  apps/client/components/Common/SnapCarousel/SnapCarousel.tsx
  apps/client/components/Post/PostAddPage/index.tsx
  apps/client/components/Recent/TagFamily/index.tsx
  apps/client/styles/GlobalCSS.tsx
  apps/client/styles/emotionTheme/colors/index.ts
  apps/client/styles/emotionTheme/dimensions/index.ts
  apps/client/styles/emotionTheme/index.ts
  apps/client/styles/emotionTheme/weighs/index.ts
  apps/client/styles/emotionTheme/zIndex/index.ts
  apps/client/styles/emotionUtils/hiddenScroll.ts
  apps/client/styles/emotionUtils/index.ts
  apps/client/styles/index.ts
Labels: app-client

#188 Feat(client) : server 폴더의 default export를 named export로 변경합니다.
  apps/client/server/notice/index.ts
  apps/client/server/notice/keys.ts
  apps/client/server/notice/mutations.tsx
  apps/client/server/notice/queries.ts
  apps/client/server/post/mutations.tsx
  apps/client/server/profile/index.ts
  apps/client/server/profile/keys.ts
  apps/client/server/profile/mutations.ts
  apps/client/server/profile/queries.ts
  apps/client/server/recent/index.ts
  apps/client/server/recent/keys.ts
  apps/client/server/recent/mutations.ts
  apps/client/server/recent/queries.ts
  apps/client/server/register/mutations.ts
  apps/client/server/restaurant/index.ts
  apps/client/server/restaurant/keys.ts
  apps/client/server/restaurant/mutations.ts
  apps/client/server/restaurant/queries.ts
  apps/client/server/review/index.ts
  apps/client/server/review/keys.ts
  apps/client/server/review/mutations.ts
  apps/client/server/review/queries.ts
Labels: app-client

#189 feat(packages): hooks 폴더의 default export를 named export로 변경합니다.
  apps/admin/.turbo/turbo-build.log
  apps/client/.turbo/turbo-build.log
  packages/hooks/src/index.ts
  packages/hooks/src/useDebounce.ts
  packages/hooks/src/useInput.ts
  packages/hooks/src/useMounted.ts
  packages/hooks/src/usePreservedCallback.ts
  packages/hooks/src/usePreservedReference.ts
Labels: toppings-hooks

#190 feat(packages) : utils의 default export를 named export로 변경합니다.
  apps/admin/.turbo/turbo-build.log
  apps/client/.turbo/turbo-build.log
  packages/utils/src/calculatePassedTime.ts
  packages/utils/src/checkDeeplyEqual.ts
  packages/utils/src/clipboard.ts
  packages/utils/src/encodeFileToBase64.ts
  packages/utils/src/hexToRgba.ts
  packages/utils/src/imageUploader.ts
  packages/utils/src/index.ts
  packages/utils/src/isServer.ts
  packages/utils/src/neverChecker.ts
  packages/utils/src/objectEntries.ts
  packages/utils/src/objectKeys.ts
  packages/utils/src/objectValues.ts
  packages/utils/src/omit.ts
  packages/utils/src/pick.ts
  packages/utils/src/resizeBase64Img.ts
Labels: toppings-utils

#192 feat(client): map과 onboarding페이지의 라우팅을 교체합니다.
  apps/client/@types/route.d.ts
  apps/client/components/Layout/BottomNavigator/BottomNavigator.constants.tsx
  apps/client/components/Layout/BottomNavigator/index.tsx
  apps/client/components/Map/ViewListPage/ViewListPage.hooks.tsx
  apps/client/components/Post/PostAddPage/CTAButton/Edit/index.tsx
  apps/client/components/Post/PostAddPage/CTAButton/Register/index.tsx
  apps/client/components/Post/PostAddPage/DuplicatedOverlay/index.tsx
  apps/client/components/Profile/ProfilePostsPage/PostList/index.tsx
  apps/client/components/Recent/FilterEatingHabitPage/index.tsx
  apps/client/components/Recent/FilterNationalityPage/index.tsx
  apps/client/components/Recent/FilterRestaurantPage/FilterRestaurantPage.hooks.tsx
  apps/client/components/Recent/History/History.hooks.ts
  apps/client/components/Recent/RecentPage/index.tsx
  apps/client/components/Register/RegisterEatingHabitsPage/index.tsx
  apps/client/middleware.page.ts
  apps/client/pages/index.page.tsx
  apps/client/pages/map/index.page.tsx
  apps/client/pages/onboarding/index.page.tsx
Labels: app-client

#193 sync master
  apps/client/@types/route.d.ts
  apps/client/components/Layout/BottomNavigator/BottomNavigator.constants.tsx
  apps/client/components/Layout/BottomNavigator/index.tsx
  apps/client/components/Map/ViewListPage/ViewListPage.hooks.tsx
  apps/client/components/Post/PostAddPage/CTAButton/Edit/index.tsx
  apps/client/components/Post/PostAddPage/CTAButton/Register/index.tsx
  apps/client/components/Post/PostAddPage/DuplicatedOverlay/index.tsx
  apps/client/components/Profile/ProfilePostsPage/PostList/index.tsx
  apps/client/components/Recent/FilterEatingHabitPage/index.tsx
  apps/client/components/Recent/FilterNationalityPage/index.tsx
  apps/client/components/Recent/FilterRestaurantPage/FilterRestaurantPage.hooks.tsx
  apps/client/components/Recent/History/History.hooks.ts
  apps/client/components/Recent/RecentPage/index.tsx
  apps/client/components/Register/RegisterEatingHabitsPage/index.tsx
  apps/client/components/Review/ReviewDetailPage/UserInfoRow/index.tsx
  apps/client/middleware.page.ts
  apps/client/pages/index.page.tsx
  apps/client/pages/map/index.page.tsx
  apps/client/pages/onboarding/index.page.tsx
Labels: app-client

#194 feat(client, admin) : layouts 파일들을 named export로 변경합니다.
  apps/admin/layouts/AppLayout/index.tsx
  apps/admin/layouts/index.ts
  apps/admin/pages/_app.page.tsx
  apps/client/layouts/AppLayout/index.tsx
  apps/client/layouts/index.ts
  apps/client/pages/_app.page.tsx
Labels: app-client, app-admin

#196 feat(client) : hooks 폴더의 default export를 named export로 변경합니다.
  apps/client/components/Kakao/Buttons/FilteringButton.tsx
  apps/client/components/Map/ViewListPage/ViewListPage.hooks.tsx
  apps/client/components/Post/PostDetailPage/Info/Info.hooks.tsx
  apps/client/hooks/auth/index.ts
  apps/client/hooks/auth/useProtectRouteModal.tsx
  apps/client/hooks/index.ts
  apps/client/hooks/map/index.ts
  apps/client/hooks/map/useResetRecentRecoilState.ts
  apps/client/hooks/mobile/index.ts
  apps/client/hooks/mobile/useDetectKeyboard.ts
  apps/client/hooks/useBlurController.ts
  apps/client/hooks/useBooleanState.ts
  apps/client/hooks/useInternalRouter.ts
  apps/client/hooks/useIntersectionObserver.ts
  apps/client/hooks/useOriginURL.ts
  apps/client/hooks/useScrollToTopByKeywordChange.ts
  apps/client/hooks/useSentry.ts
  apps/client/hooks/useSetNavigation.ts
  apps/client/hooks/useTokenCookie.ts
  apps/client/hooks/useWebSocket.ts
Labels: app-client

#197 feat(client) : contexts의 default export를 named export로 변경합니다.
  apps/client/contexts/AnalyticsProvider/index.tsx
  apps/client/contexts/DeviceInfoProvider/index.ts
  apps/client/contexts/DeviceInfoProvider/useDeviceInfo.ts
  apps/client/contexts/MapProvider/MapProvider.tsx
  apps/client/contexts/MapProvider/index.ts
  apps/client/contexts/index.ts
Labels: app-client

#199 refactor(client): 주소 검색 관련 상태를 recoil에서 zustand 로 이관합니다.
  apps/client/components/Layout/BottomNavigator/BottomNavigator.hooks.tsx
  apps/client/components/Post/PostAddPage/CTAButton/Edit/index.tsx
  apps/client/components/Post/PostAddPage/CTAButton/Register/index.tsx
  apps/client/components/Post/PostAddPage/PostAddPage.hooks.tsx
  apps/client/components/Post/PostAddPage/index.tsx
  apps/client/components/Post/PostDetailPage/NavigationSetter/index.tsx
  apps/client/components/Search/Result/index.tsx
  apps/client/recoil/atoms/index.ts
  apps/client/recoil/atoms/search.ts
  apps/client/stores/post/index.ts
  apps/client/stores/post/search/index.ts
  apps/client/stores/post/search/restaurant/index.ts
  apps/client/stores/post/search/restaurant/restaurant.store.ts
  apps/client/stores/post/search/restaurant/restaurant.types.ts
  apps/client/tsconfig.tsbuildinfo
Labels: app-client

#202 fix(client): map 페이지에서 위도 경도를 불러오기 전에 0을 랜더링하는 이슈를 해결합니다.
  apps/client/components/Map/MapPage/index.tsx
Labels: app-client

#201 feat(client) : 더보기 SVG 추가
  apps/admin/.turbo/turbo-build.log
  apps/client/.turbo/turbo-build.log
  apps/client/assets/svgs/post/index.ts
  apps/client/assets/svgs/post/orangeRightArrow.svg
  apps/client/components/Post/PostDetailPage/Reviews/ReviewItem/index.tsx
Labels: app-client

#203 refactor(client) : map atom과 common atom을 map store(zustand)로 이관합니다.
  .pnp.cjs
  .vscode/settings.json
  .yarn/cache/immer-npm-9.0.19-96ee7d3dab-f02ee53989.zip
  apps/client/.turbo/turbo-build.log
  apps/client/components/Kakao/Buttons/Buttons.hooks.ts
  apps/client/components/Map/MapPage/MapPage.hooks.ts
  apps/client/components/Map/MapPage/index.tsx
  apps/client/components/Recent/FilterRestaurantPage/FilterRestaurantPage.hooks.tsx
  apps/client/package.json
  apps/client/recoil/atoms/common.ts
  apps/client/recoil/atoms/index.ts
  apps/client/recoil/atoms/map.ts
  apps/client/stores/map/index.ts
  apps/client/stores/map/map.constants.ts
  apps/client/stores/map/map.store.ts
  apps/client/stores/map/map.types.ts
  yarn.lock
Labels: app-client, configuration, dependencies

#205 feat(client): hotjar를 이용해 사용자 행동을 분석하기 위한 셋팅을 진행합니다.
  .pnp.cjs
  .vscode/settings.json
  .yarn/cache/react-hotjar-npm-5.4.1-15ca61cf66-773f408842.zip
  apps/client/constants/data/common/analytics/hotjar.ts
  apps/client/constants/data/common/analytics/index.ts
  apps/client/constants/data/common/index.ts
  apps/client/package.json
  apps/client/pages/_app.page.tsx
  yarn.lock
Labels: app-client, configuration, dependencies

#204 refactor(client): register 관련 로직을 recoil에서 zustand로 이관합니다. 또한 register관련 로직의 UI와 비즈니스 로직을 분리합니다
  apps/client/components/Register/RegisterEatingHabitsPage/RegisterEatingHabitsPage.hooks.tsx
  apps/client/components/Register/RegisterEatingHabitsPage/index.tsx
  apps/client/components/Register/RegisterNationalityPage/RegisterNationalityPage.hooks.tsx
  apps/client/components/Register/RegisterNationalityPage/index.tsx
  apps/client/recoil/atoms/index.ts
  apps/client/recoil/atoms/register.ts
  apps/client/stores/register/index.ts
  apps/client/stores/register/info/index.ts
  apps/client/stores/register/info/info.store.ts
  apps/client/stores/register/info/info.types.ts
  apps/client/tsconfig.tsbuildinfo
Labels: app-client

#207 refactor(client): layout 폴더들 내부 컴포넌트의 css로 처리했던 부분을 styles파일로 분리합니다.
  apps/client/components/Layout/BottomNavigator/BottomNavigator.hooks.tsx
  apps/client/components/Layout/BottomNavigator/BottomNavigator.styles.ts
  apps/client/components/Layout/BottomNavigator/index.tsx
  apps/client/components/Layout/EmptyView/EmptyView.styles.ts
  apps/client/components/Layout/EmptyView/index.tsx
  apps/client/components/Layout/Recent/SearchLayout/SearchLayout.styles.ts
  apps/client/components/Layout/Recent/SearchLayout/index.tsx
  apps/client/components/Layout/Recent/index.ts
  apps/client/components/Layout/TopNavigator/TopNavigator.styles.ts
  apps/client/components/Layout/TopNavigator/index.tsx
  apps/client/components/Onboarding/OnboardingPage/OnboardingPage.hooks.ts
  apps/client/components/Onboarding/OnboardingPage/OnboardingPage.styles.ts
  apps/client/components/Onboarding/OnboardingPage/index.tsx
Labels: app-client

#210 fix(admin): admin route login 삭제
  apps/admin/@types/route.d.ts
  apps/admin/layouts/AppLayout/index.tsx
Labels: app-admin

#212 fix(clietn): profile 페이지의 스켈레톤 위치를 제대로 조정합니다, Skeleton을 사용하는 페이지를 부드럽게 보여줍니다.
  apps/client/components/Common/PageLoader/index.tsx
  apps/client/components/Notice/NoticePage/index.tsx
  apps/client/components/Profile/ProfilePage/index.tsx
  apps/client/constants/Motions.ts
Labels: app-client

#214 feat(client): 클릭 가능한 영역 확대 및 touchable옵션을 통해 UX를 개선합니다.
  apps/client/components/Kakao/Buttons/ViewStatusButton.tsx
  apps/client/components/Layout/BottomNavigator/BottomNavigator.styles.ts
  apps/client/components/Layout/BottomNavigator/index.tsx
  apps/client/components/Layout/TopNavigator/TopNavigator.styles.ts
  apps/client/components/Layout/TopNavigator/index.tsx
Labels: app-client

#217 fix(client): 게시글 작성 취소 플로우 오류를 수정합니다.
  apps/client/components/Post/PostAddPage/PostAddPage.hooks.tsx
Labels: app-client

#220 fix(client) : DOM 엘리먼트에서 잘못된 속성(paddingBottom)을 수정합니다.
  apps/client/components/Layout/TopNavigator/TopNavigator.styles.ts
  apps/client/components/Layout/TopNavigator/index.tsx
Labels: bug, fix, refactoring, app-client

#219 refactor(client) : Buttons 폴더 하위의 버튼들의 스타일들을 파일로 분리합니다.
  .vscode/settings.json
  .vscode/toppings.code-snippets
  apps/client/components/Kakao/Buttons/CurrentLocationButton.tsx
  apps/client/components/Kakao/Buttons/CurrentLocationButton/CurrentLocationButton.hooks.ts
  apps/client/components/Kakao/Buttons/CurrentLocationButton/CurrentLocationButton.styles.ts
  apps/client/components/Kakao/Buttons/CurrentLocationButton/index.tsx
  apps/client/components/Kakao/Buttons/FilteringButton.hooks.ts
  apps/client/components/Kakao/Buttons/FilteringButton.tsx
  apps/client/components/Kakao/Buttons/FilteringButton/FilteringButton.hooks.ts
  apps/client/components/Kakao/Buttons/FilteringButton/FilteringButton.styles.ts
  apps/client/components/Kakao/Buttons/FilteringButton/index.tsx
  apps/client/components/Kakao/Buttons/ViewStatusButton.tsx
  apps/client/components/Kakao/Buttons/ViewStatusButton/ViewStatusButton.styles.ts
  apps/client/components/Kakao/Buttons/ViewStatusButton/index.tsx
  apps/client/components/Kakao/Buttons/index.ts
  apps/client/components/Kakao/KakaoMap.tsx
Labels: refactoring, app-client, configuration
