Repository toppingskorea/toppings-client, pull requests merged in 2023-02, with the labels that each got.

#97 fix(client): 2월1일 발생한 디자인 QA를 반영합니다.
  apps/client/assets/svgs/common/copy.svg
  apps/client/components/Common/TextField/Input.tsx
  apps/client/components/Notice/NoticePage/NotificationList/NotificationItem/index.tsx
  apps/client/components/Notice/NoticePage/NotificationList/index.tsx
  apps/client/components/Post/PostAddPage/index.tsx
  apps/client/components/Post/PostDetailPage/Info/index.tsx
  apps/client/components/Post/PostDetailPage/Likes/index.tsx
  apps/client/components/Post/PostDetailPage/PostDetailPage.styles.tsx
  apps/client/components/Post/PostDetailPage/ReviewLeadingSection/index.tsx
  apps/client/components/Post/PostDetailPage/Reviews/ReviewItem/index.tsx
  apps/client/components/Post/PostDetailPage/index.tsx
  apps/client/components/Profile/ProfilePostsPage/PostList/Item/index.tsx
  apps/client/components/Profile/ProfilePostsPage/index.tsx
  apps/client/styles/emotionTheme/colors/index.ts
Labels: app-client

#98 fix(client): about 페이지에 Bottom navigator를 설정합니다
  apps/client/components/About/AboutPage/index.tsx
Labels: app-client

#99 fix(client): about 페이지에 SEO를 설정합니다
  apps/client/components/About/AboutPage/index.tsx
Labels: app-client

#100 feat(client): 로그인이 필요한 액션을 적용하여 로그인을 유도합니다.
  apps/client/components/Common/Modal/AlertModal/index.tsx
  apps/client/components/Layout/BottomNavigator/index.tsx
  apps/client/components/Post/PostDetailPage/Info/Info.hooks.tsx
  apps/client/components/Post/PostDetailPage/ReviewLeadingSection/index.tsx
  apps/client/components/Post/PostDetailPage/Reviews/ReviewItem/index.tsx
  apps/client/hooks/auth/index.ts
  apps/client/hooks/auth/useProtectRouteModal.tsx
  apps/client/hooks/index.ts
  apps/client/middleware.page.ts
  apps/client/utils/auth/index.ts
  apps/client/utils/auth/isLoggedIn.ts
Labels: app-client

#102 feat(client): 지도의 핀을 변경합니다.
  apps/client/assets/svgs/map/index.ts
  apps/client/assets/svgs/map/pin.svg
  apps/client/components/Map/MapPage/index.tsx
Labels: app-client

#103 fix(client): search/restaurant페이지 UX를 개선합니다 & 사용자의 접속 환경을 감지할 수 있는 contexts를 구성합니다.
  apps/client/components/Search/SearchPage/SearchPage.hooks.ts
  apps/client/components/Search/SearchPage/index.tsx
  apps/client/contexts/DeviceInfoProvider/DeviceInfoContext.ts
  apps/client/contexts/DeviceInfoProvider/DeviceInfoProvider.tsx
  apps/client/contexts/DeviceInfoProvider/index.ts
  apps/client/contexts/DeviceInfoProvider/useDeviceInfo.ts
  apps/client/contexts/index.ts
  apps/client/hooks/index.ts
  apps/client/hooks/useBooleanState.ts
  apps/client/pages/_app.page.tsx
Labels: app-client

#106 fix(client): 아이폰에서의 스크롤시 UX를 개선합니다.
  apps/client/components/Profile/ProfileEditNationalityPage/index.tsx
  apps/client/components/Register/RegisterNationalityPage/index.tsx
  apps/client/components/Search/SearchPage/index.tsx
  apps/client/components/Section/SearchNationality/index.tsx
  apps/client/contexts/DeviceInfoProvider/DeviceInfoProvider.tsx
  apps/client/hooks/index.ts
  apps/client/hooks/useBlurController.ts
  apps/client/public/sw.js.map
Labels: app-client

#107 fix(client): Image Gallery의 max값 만큼 사진이 등록되면 input을 숨깁니다
  apps/client/components/Common/Gallery/Gallery.hooks.ts
  apps/client/components/Common/Gallery/index.tsx
Labels: app-client

#108 fix(client): 이미지를 복수 선택할 수 있도록 합니다.
  .pnp.cjs
  .yarn/cache/@types-uuid-npm-9.0.0-979023c16f-59ae56d954.zip
  .yarn/cache/uuid-npm-9.0.0-46c41e3e43-8dd2c83c43.zip
  apps/client/components/Common/Gallery/index.tsx
  apps/client/components/Profile/ProfileEditPage/UserInfo/ProfileImage/index.tsx
  apps/client/package.json
  apps/client/public/sw.js.map
  apps/client/utils/common/imageUploader.ts
  yarn.lock
Labels: app-client, configuration, dependencies

#109 fix(client): topnavigator 빠진 부분 수정 완료합니다.
  apps/client/components/Post/PostAddPage/index.tsx
  apps/client/components/Profile/ProfileEditEatingHabitsPage/index.tsx
  apps/client/components/Profile/ProfileEditNationalityPage/index.tsx
  apps/client/components/Profile/ProfileEditPage/index.tsx
  apps/client/components/Search/SearchPage/index.tsx
  apps/client/public/sw.js.map
Labels: app-client

#110 feat(client): 회원인 경우 아닌 경우 구분하여 필터링 버튼의 작동을 달리합니다.
  apps/client/@types/route.d.ts
  apps/client/components/Kakao/Buttons/FilteringButton.hooks.ts
  apps/client/components/Kakao/Buttons/FilteringButton.tsx
  apps/client/components/Recent/FilterEatingHabitPage/index.tsx
  apps/client/components/Recent/FilterNationalityPage/index.tsx
  apps/client/components/Recent/FilterRestaurantPage/FilterRestaurantPage.hooks.tsx
  apps/client/middleware.page.ts
  apps/client/public/sw.js.map
Labels: app-client

#113 feat(client): indexedDB에 react-query mutation data를 저장합니다.
  .pnp.cjs
  .yarn/cache/idb-keyval-npm-6.2.0-bda8041a97-ddd58f9582.zip
  .yarn/cache/safari-14-idb-fix-npm-3.0.0-bc2975407c-30d5baf3d9.zip
  apps/client/.turbo/turbo-build.log
  apps/client/components/Kakao/Buttons/FilteringButton.tsx
  apps/client/components/Map/ViewListPage/ViewListPage.hooks.tsx
  apps/client/constants/QueryKey.ts
  apps/client/constants/Variables.ts
  apps/client/constants/index.ts
  apps/client/package.json
  apps/client/public/sw.js
  apps/client/public/sw.js.map
  apps/client/public/workbox-4d8fa2d4.js
  apps/client/public/workbox-4d8fa2d4.js.map
  apps/client/public/workbox-981179b2.js
  apps/client/recoil/atoms/recent.ts
  yarn.lock
Labels: app-client, configuration, dependencies

#112 Feat(client): 변경된 logo와 앱 아이콘 이미지를 변경합니다.
  apps/client/.turbo/turbo-build.log
  apps/client/assets/images/common/grayLogo.png
  apps/client/assets/images/common/index.ts
  apps/client/assets/images/common/orangeLogo.png
  apps/client/public/android-icon-128x128.png
  apps/client/public/android-icon-144x144.png
  apps/client/public/android-icon-152x152.png
  apps/client/public/android-icon-192x192.png
  apps/client/public/android-icon-36x36.png
  apps/client/public/android-icon-384x384.png
  apps/client/public/android-icon-48x48.png
  apps/client/public/android-icon-512x512.png
  apps/client/public/android-icon-72x72.png
  apps/client/public/android-icon-96x96.png
  apps/client/public/apple-icon-114x114.png
  apps/client/public/apple-icon-120x120.png
  apps/client/public/apple-icon-144x144.png
  apps/client/public/apple-icon-152x152.png
  apps/client/public/apple-icon-180x180.png
  apps/client/public/apple-icon-57x57.png
  apps/client/public/apple-icon-60x60.png
  apps/client/public/apple-icon-72x72.png
  apps/client/public/apple-icon-76x76.png
  apps/client/public/apple-icon-precomposed.png
  apps/client/public/apple-icon.png
  apps/client/public/manifest.json
  apps/client/public/sw.js
Labels: app-client, configuration

#115 Fix(client): current location button의 버그성 기능을 수정합니다.
  apps/client/.turbo/turbo-build.log
  apps/client/components/Kakao/Buttons/Buttons.hooks.ts
  apps/client/next.config.js
  apps/client/public/sw.js
  apps/client/recoil/atoms/common.ts
  packages/next-config/next.config.js
Labels: bug, fix, app-client, next-config

#116 Fix(client) : current location button timeout을 설정합니다.
  apps/client/.turbo/turbo-build.log
  apps/client/components/Kakao/Buttons/Buttons.hooks.ts
  apps/client/public/sw.js
Labels: bug, duplicate, fix, app-client, next-config

#118 Fix(client): Top으로부터 떨어져 있는 엠티뷰 텍스트를 피그마와 통일합니다.
  apps/client/components/Recent/History/index.tsx
Labels: bug, fix, app-client

#123 fix(client): 게시글 / 리뷰 등록할때 글자가 변함에 따라서 사진이 리랜더링 되는것을 해결
  apps/client/components/Common/ComponentWithLabel/index.tsx
  apps/client/components/Common/Gallery/index.tsx
  apps/client/components/Post/PostAddPage/index.tsx
  apps/client/components/Review/ReviewAddPage/ReviewAddPage.hooks.tsx
Labels: app-client

#124 fix(client): 이미지를 화질 좋게 업로드 하고 비율을 수정합니다.
  apps/client/components/Common/Gallery/index.tsx
  apps/client/components/Common/ImageCarousel/index.tsx
  apps/client/components/Profile/ProfileEditPage/UserInfo/ProfileImage/index.tsx
  apps/client/components/Profile/ProfilePage/Info/index.tsx
Labels: app-client

#122 feat(client): 관리자가 쓴 글은 로고를 다르게 보여줍니다
  apps/client/@types/restaurant.d.ts
  apps/client/assets/images/common/grayNoRingLogo.png
  apps/client/assets/images/common/index.ts
  apps/client/components/Post/PostDetailPage/NavigationSetter/index.tsx
  apps/client/tsconfig.json
Labels: app-client, configuration

#121 feat(admin): 관리자가 관리자페이지에서 포스트를 업로드할 수 있도록 합니다.
  .pnp.cjs
  apps/admin/@types/environment.d.ts
  apps/admin/@types/route.d.ts
  apps/admin/assets/svgs/common/activatedBell.svg
  apps/admin/assets/svgs/common/bell.svg
  apps/admin/assets/svgs/common/circleExit.svg
  apps/admin/assets/svgs/common/circleThreeDot.svg
  apps/admin/assets/svgs/common/copy.svg
  apps/admin/assets/svgs/common/edit.svg
  apps/admin/assets/svgs/common/emptyHeart.svg
  apps/admin/assets/svgs/common/emptyScrap.svg
  apps/admin/assets/svgs/common/exit.svg
  apps/admin/assets/svgs/common/filledScrap.svg
  apps/admin/assets/svgs/common/grayPlus.svg
  apps/admin/assets/svgs/common/hamburger.svg
  apps/admin/assets/svgs/common/index.ts
  apps/admin/assets/svgs/common/leftArrow.svg
  apps/admin/assets/svgs/common/marker.svg
  apps/admin/assets/svgs/common/minus.svg
  apps/admin/assets/svgs/common/orangeHeart.svg
  apps/admin/assets/svgs/common/orangePersonIcon.svg
  apps/admin/assets/svgs/common/orangePlus.svg
  apps/admin/assets/svgs/common/orangeStar.svg
  apps/admin/assets/svgs/common/plus.svg
  apps/admin/assets/svgs/common/search.svg
  apps/admin/assets/svgs/common/share.svg
  apps/admin/assets/svgs/common/star.svg
  apps/admin/assets/svgs/common/user.svg
  apps/admin/components/Common/Gallery/Gallery.hooks.ts
  apps/admin/components/Common/Gallery/Item/index.tsx
  apps/admin/components/Common/Gallery/index.tsx
  apps/admin/components/Common/Sidebar/Sidebar.constants.ts
  apps/admin/components/Common/Typo/Text.tsx
  apps/admin/components/Common/Typo/index.ts
  apps/admin/components/Common/index.ts
  apps/admin/components/Post/PostUploadPage/CTAButton/CTAButton.hooks.tsx
  apps/admin/components/Post/PostUploadPage/CTAButton/Register/index.tsx
  apps/admin/components/Post/PostUploadPage/CTAButton/index.ts
  apps/admin/components/Post/PostUploadPage/RestaurantSearchSection/index.tsx
  apps/admin/components/Post/PostUploadPage/index.tsx
  apps/admin/constants/Env.ts
  apps/admin/constants/data/common/index.ts
  apps/admin/constants/data/common/types.ts
  apps/admin/package.json
  apps/admin/pages/_document.page.tsx
  apps/admin/pages/post/upload.page.tsx
  apps/admin/recoil/atoms/post.ts
  apps/admin/recoil/atoms/search.ts
  apps/admin/server/post/apis.ts
  apps/admin/server/post/index.ts
  apps/admin/server/post/mutations.tsx
  apps/admin/tsconfig.json
  apps/admin/utils/common/encodeFileToBase64.ts
  apps/admin/utils/common/imageUploader.ts
  apps/admin/utils/common/index.ts
  apps/admin/utils/common/resizeBase64Img.ts
  yarn.lock
Labels: app-admin, configuration, dependencies

#125 feat(admin): 음식점 / 리뷰 리젝시 알림을 보냅니다
  apps/admin/@types/index.d.ts
  apps/admin/components/Posts/PostDetail/PostDetail.hooks.ts
  apps/admin/components/Reviews/ReviewDetail/index.tsx
  apps/admin/server/notice/apis.ts
  apps/admin/server/notice/index.ts
  apps/admin/server/notice/mutations.tsx
  apps/admin/server/restaurant/apis.ts
  apps/admin/server/review/apis.ts
Labels: app-admin

#127 fix(client): post detail description을 복사 가능하게 합니다.
  apps/client/components/Post/PostDetailPage/Info/index.tsx
Labels: app-client

#128 fix(client): post detail description을 복사 가능하게 합니다 (#127)
  apps/client/components/Post/PostDetailPage/Info/index.tsx
Labels: app-client

#134 fix(client): Halal의 위치를 이동시킵니다
  apps/client/constants/data/common/diets.ts
  apps/client/constants/data/common/religions.ts
Labels: app-client

#135 docs(root): PR 템플릿에서 불필요한 부분을 삭제합니다.
  .github/PULL_REQUEST_TEMPLATE.md
Labels: configuration, workflows

#136 chore(client): sentry로 클라이언트 에러를 트래킹하기 위해서 url을 설정합니다.
  apps/client/pages/_app.page.tsx
Labels: app-client

#138 feat(client): sentry로 에러추적을 가능하게 하고 에러페이지를 추가합니다
  apps/client/@types/environment.d.ts
  apps/client/constants/Env.ts
  apps/client/next.config.js
  apps/client/pages/_error.js
  apps/client/pages/_error.page.tsx
  apps/client/pages/sentry_sample_error.js
Labels: app-client

#139 feat(admin) : 관리자 페이지의 게시글 등록 페이지에서 사용자의 인스타 이름을 등록할 수 있습니다.
  apps/admin/components/Post/PostUploadPage/CTAButton/Register/index.tsx
  apps/admin/components/Post/PostUploadPage/index.tsx
  apps/admin/recoil/atoms/post.ts
  apps/admin/server/post/apis.ts
Labels: app-admin

#137 feat(client) : 인스타그램 링크를 게시글 작성자의 글 맨 마지막 부분에 첨부합니다
  apps/client/@types/restaurant.d.ts
  apps/client/components/Post/PostDetailPage/Info/index.tsx
  apps/client/styles/emotionTheme/colors/index.ts
Labels: app-client

#149 chore(root): release drafter
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
Labels: configuration, workflows

#151 feat(client): image gallery의 이미지의 원본비율을 유지합니다
  apps/admin/components/Common/Gallery/Item/index.tsx
Labels: app-admin

#140 refactoring(admin) : pages 폴더의 page 컴포넌트들을 Components 하위 폴더들로 분리합니다.
  .pnp.cjs
  .yarn/cache/@humanwhocodes-config-array-npm-0.11.8-7955bfecc2-0fd6b3c54f.zip
  .yarn/cache/@types-eslint-npm-8.21.0-7021c9eace-48823b13e1.zip
  .yarn/cache/eslint-npm-8.33.0-88a30ca58a-727e63ab8b.zip
  .yarn/cache/is-path-inside-npm-3.0.3-2ea0ef44fd-abd50f0618.zip
  apps/admin/.turbo/turbo-build.log
  apps/admin/components/Common/Typo/index.ts
  apps/admin/components/Login/LoginPage/index.tsx
  apps/admin/components/Login/LoginPage/login.hooks.ts
  apps/admin/components/Login/index.ts
  apps/admin/components/Overview/OverviewPage/index.tsx
  apps/admin/components/Overview/index.ts
  apps/admin/components/Post/PostUploadPage/CTAButton/index.ts
  apps/admin/components/Post/PostUploadPage/RestaurantSearchSection/index.tsx
  apps/admin/components/Post/index.ts
  apps/admin/components/Posts/PostsPage/index.tsx
  apps/admin/components/Posts/index.ts
  apps/admin/components/Restaurant/RestaurantDetailPage/index.tsx
  apps/admin/components/Restaurant/RestaurantPostDetail/RestaurantPostDetail.hooks.ts
  apps/admin/components/Restaurant/RestaurantPostDetail/index.tsx
  apps/admin/components/Restaurant/index.ts
  apps/admin/components/Review/ReviewDetail/ReviewDetail.hooks.ts
  apps/admin/components/Review/ReviewDetail/index.tsx
  apps/admin/components/Review/ReviewDetailPage/index.tsx
  apps/admin/components/Review/ReviewTable/index.tsx
  apps/admin/components/Review/index.ts
  apps/admin/components/Reviews/ReviewsPage/index.tsx
  apps/admin/components/Reviews/index.ts
  apps/admin/components/Util/index.ts
  apps/admin/package.json
  apps/admin/pages/index.page.tsx
  apps/admin/pages/overview.page.tsx
  apps/admin/pages/post/upload.page.tsx
  apps/admin/pages/posts.page.tsx
  apps/admin/pages/restaurant/[id].page.tsx
  apps/admin/pages/review/[id].page.tsx
  apps/admin/pages/reviews.page.tsx
  apps/client/.turbo/turbo-build.log
  packages/monorepo-storybook-builder/src/build-monorepo-index.js
  packages/monorepo-storybook-builder/src/build.js
  packages/monorepo-storybook-builder/src/parse-args.js
  packages/monorepo-storybook-builder/src/types.js
  packages/monorepo-storybook-builder/src/utils.js
  packages/monorepo-storybook-builder/tsconfig.tsbuildinfo
  yarn.lock
Labels: app-admin, configuration, dependencies

#156 fix(client) : post 상세 페이지에서 Likes, Reivews 배지는 클릭 요소가 아닙니다.
  apps/client/components/Common/Badge/index.tsx
  apps/client/components/Post/PostDetailPage/index.tsx
Labels: bug, fix, app-client

#155 feat(client) : ViewList page의 empty view를 추가합니다.
  apps/client/assets/images/common/grayLogo.png
  apps/client/components/Layout/EmptyView/index.tsx
  apps/client/components/Map/ViewListPage/ViewListPage.hooks.tsx
  apps/client/components/Map/ViewListPage/index.tsx
Labels: bug, fix, app-client

#159 fix(client): topnavigator의 가운데 요소가 전체 너비를 차지하여 양쪽 버튼들의 클릭을 방해하던것을 해결합니다
  apps/client/components/Layout/TopNavigator/index.tsx
Labels: app-client

#160 fix(client): profile 페이지 진입시 bottomnavigation이 깜빡거리는 현상을 해결합니다.
  apps/client/components/Profile/ProfilePage/index.tsx
Labels: app-client

#163 chore(root): suspensive의 최신버전을 사용합니다.
  .pnp.cjs
  .yarn/cache/@suspensive-react-npm-1.4.0-3053356c57-4221f6178f.zip
  .yarn/cache/@suspensive-react-npm-1.9.2-2f58f221ff-84bf8a0daa.zip
  .yarn/cache/@suspensive-react-query-npm-1.4.0-016b670fb4-434394aaf9.zip
  .yarn/cache/@suspensive-react-query-npm-1.9.2-f6eb12c1ba-ce86bef777.zip
  apps/admin/package.json
  apps/client/package.json
  yarn.lock
Labels: app-client, app-admin, configuration, dependencies

#162 fix(client): 유저 이름에 정규식을 추가합니다.
  apps/client/components/Profile/ProfileEditPage/RegisterButton/RegisterButton.hooks.tsx
  apps/client/components/Profile/ProfileEditPage/RegisterButton/index.tsx
  apps/client/components/Profile/ProfileEditPage/UserInfo/index.tsx
Labels: app-client

#165 Feat(client) : 맵의 거리 조절을 고정합니다.
  apps/client/components/Map/MapPage/MapPage.hooks.ts
  apps/client/components/Map/MapPage/index.tsx
  apps/client/recoil/atoms/map.ts
Labels: app-client

#164 refactor(client): postaddpage 를 비즈니스 로직과 UI로직을 분리합니다.
  apps/client/components/Common/index.ts
  apps/client/components/Post/PostAddPage/PostAddPage.hooks.tsx
  apps/client/components/Post/PostAddPage/index.tsx
Labels: app-client

#166 fix(client): 프로필 닉네임 hint 수정합니다.
  apps/client/components/Profile/ProfileEditPage/UserInfo/index.tsx
Labels: app-client

#168 main branch에 develop브랜치를 병합시킵니다.
  .pnp.cjs
  .yarn/cache/@suspensive-react-npm-1.4.0-3053356c57-4221f6178f.zip
  .yarn/cache/@suspensive-react-npm-1.9.2-2f58f221ff-84bf8a0daa.zip
  .yarn/cache/@suspensive-react-query-npm-1.4.0-016b670fb4-434394aaf9.zip
  .yarn/cache/@suspensive-react-query-npm-1.9.2-f6eb12c1ba-ce86bef777.zip
  apps/admin/package.json
  apps/client/components/Common/index.ts
  apps/client/components/Map/MapPage/MapPage.hooks.ts
  apps/client/components/Map/MapPage/index.tsx
  apps/client/components/Post/PostAddPage/PostAddPage.hooks.tsx
  apps/client/components/Post/PostAddPage/index.tsx
  apps/client/components/Profile/ProfileEditPage/RegisterButton/RegisterButton.hooks.tsx
  apps/client/components/Profile/ProfileEditPage/RegisterButton/index.tsx
  apps/client/components/Profile/ProfileEditPage/UserInfo/index.tsx
  apps/client/package.json
  apps/client/recoil/atoms/map.ts
  yarn.lock
Labels: app-client, app-admin, configuration, dependencies
